/* ====================================
// css variables
// ==================================== */

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  max-width: 375px;
  margin: auto;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

h1 {
  color: #000;
  font-family: Nunito Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 100% */
  text-transform: uppercase;
}
em {
  color: #000;
  font-family: Noto Serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
  text-transform: uppercase;
}

.desire {
  color: #000;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
}

header {
}

.pump {
  padding: 25px 25px 25px 25px;
  background-image: url(../img/sjf.jpg);
  background-size: 100%;
  background-position: 0px;
}
.desire {
  padding: 25px 25px 25px 25px;
  background-image: url(../img/sjf.jpg);
  background-size: 100%;
  background-position: 0px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}

.titre {
  font-family: "Nunito Sans", sans-serif;
  background: #d7a1fd;
  text-transform: uppercase;
  text-align: center;
  padding: 20 20 20 78px;
  font-family: Nunito Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
}
.soustitre {
  color: white;
  text-align: center;
  background: #d7a1fd;
}
.vingtetrois {
  color: #000;
  font-family: Noto Serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
  text-transform: uppercase;
}
.container {
  text-align: center;
  background: black;
  color: white;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.programme {
  text-decoration: none;
  font-family: Noto Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  padding-top: 20px;
  padding-right: 271px;
  padding-bottom: 20px;
  padding-left: 42px;
}
.Opportunities {
  text-decoration: none;
  font-family: Noto Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}
.News {
  text-decoration: none;
  font-family: Noto Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}
