/* ====================================
// css variables
// ==================================== */

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  max-width: 375px;
  margin: auto;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

h1 {
  color: #000;
  font-family: Nunito Sans;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px; /* 100% */
  text-transform: uppercase;
}
em {
  color: #000;
  font-family: Noto Serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px;
  text-transform: uppercase;
}

.desire {
  color: #000;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; /* 133.333% */
  text-transform: uppercase;
}

header {
}

.pump {
  padding: 25px 25px 25px 25px;
  background-image: url(../img/sjf.jpg);
  background-size: 100%;
  background-position: 0px;
}
.desire {
  padding: 25px 25px 25px 25px;
  background-image: url(../img/sjf.jpg);
  background-size: 100%;
  background-position: 0px;
}

.titre {
  background: #d7a1fd;
  text-transform: uppercase;
}
